# https://www.djangoproject.com/
Django==4.2.10

# https://selenium-python.readthedocs.io/getting-started.html#simple-usage
# https://www.selenium.dev/
selenium==4.17.2

# https://beautiful-soup-4.readthedocs.io/en/latest/
# https://pypi.org/project/beautifulsoup4/
beautifulsoup4==4.12.3

# https://pypi.org/project/python-dotenv/
python-dotenv==1.0.1
