# https://www.djangoproject.com/
Django==4.2.10

# https://beautiful-soup-4.readthedocs.io/en/latest/
# https://pypi.org/project/beautifulsoup4/
beautifulsoup4==4.12.3

# https://pypi.org/project/python-dotenv/
python-dotenv==1.0.1

# https://playwright.dev/python/docs/input
pip install playwright
playwright install cronium
